<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->



<div class="container rounded border border-light frame">
  <div *ngFor="let photo of something">

      <img src="{{photo.url}}"/>
      <button type="button" class="btn btn-dark" (click)="deletePhoto(photo.id)">Delete</button>
  </div>
</div>



<router-outlet></router-outlet>
