<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->



<div class="container rounded border border-light frame">
  <div *ngFor="let image of images" class="items">
    <ul>
      <div class="item">
        <li><img src="{{image.url}}"/></li>
        <li><button type="button" class="btn btn-dark" (click)="deletePhoto(image.id)">Delete</button></li>
      </div>
    </ul>
  </div>
</div>



<router-outlet></router-outlet>
